Package: com.keyboard.spotlightcandidatefix
Name: SpotlightCandidateFix Diagnostic
Version: 0.3.0
Architecture: iphoneos-arm64e
Description: Diagnostic build for Spotlight keyboard candidate view hierarchy on iOS 17.
Maintainer: Keyboard Project
Author: Keyboard Project
Section: Tweaks
Depends: firmware (>= 17.0), mobilesubstrate
